@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@700&display=swap");
.text-justify {
    text-align: justify;
}

.font-roboto {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
}

.btn-print:hover {
    transform: scale(1.25);
}

.img-english:hover {
    transform: scale(1.05);
}